/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2015, 21:23:32
    Author     : eloir
*/

body {
    padding-top: 60px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


/*
bootstrap hacks
*/
/*
não funcionou
.margin-bottom-xs {margin-bottom: ceil(@line-height-computed / 4);}  
.margin-bottom-sm {margin-bottom: ceil(@line-height-computed / 2);} 
.margin-bottom-md {margin-bottom: @line-height-computed;}
.margin-bottom-lg {margin-bottom: ceil(@line-height-computed * 2);}  
*/
.margin-bottom-05 {
    margin-bottom: 5px;
    margin-bottom: 0.5rem; 
}
.margin-bottom-10 {
    margin-bottom: 10px;
    margin-bottom: 1.0rem;
}
.margin-bottom-15 {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}
.margin-bottom-20 {
    margin-bottom: 20px;
    margin-bottom: 2.0rem;
}
.margin-bottom-25 {
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
}
.margin-bottom-30 {
    margin-bottom: 30px;
    margin-bottom: 3.0rem;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 7px;
    padding-right: 7px;
}